.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

.float--left {
  float: left;
}

.float--right {
  float: right;
}

.container {
  border: 4px solid;
}

.container .item {
  width: 100px;
  height: 100px;
  background-color: royalblue;
  border-radius: 10px;
  font-size: 40px;
  margin: 10px;
}
